<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<base href="/">

		<title>TVmaze app</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/custom.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>

		<script src="js/app.js"></script>
		<script src="js/search/search.controller.js"></script>
		<script src="js/search/search.service.js"></script>
		<script src="js/show/show.controller.js"></script>
		<script src="js/show/show.service.js"></script>

	</head>
	<body ng-app="app">

		<nav class="navbar navbar-inverse navbar-static-top">
		<ul class="nav navbar-nav">
			<h4><li><a href="/">Search for Shows</a> | <a href="/">Schedules</a> | <a href="/">Favorites</a></li></h4>
		</ul>
		</nav>

		<div ng-view></div>

	</body>
</html>